__pycache__/
.pytest_cache/
venv/
input_pdfs/
output_reports/
test_output/
invoices.db
GEMINI.md
docs/
DATABASE_URL
.env
run_output.log
pdf-tools-mcp/**
parsemypdfs/**
mcp-sequentialthinking-tools/**

logs/
mcp_servers_logs/
heroic-psyche-469503-g5-96f79b5cc7fe.json
