__pycache__/
.pytest_cache/
venv/

output_reports/
test_output/
invoices.db
GEMINI.md
input_pdfs/
docs/
DATABASE_URL
.env
run_output.log
pdf-tools-mcp/**
parsemypdfs/**
mcp-sequentialthinking-tools/**
utils/
logs/
mcp_servers_logs/
