# UI
streamlit>=1.43.2 

# PDF Processing Libraries
tesserocr>=2.6.0 # Added for Docling OCR
easyocr>=1.7.1 # Added for Docling OCR alternative
pypdf>=5.4.0
pymupdf>=1.25.4
PyPDF2>=3.0
camelot-py>=1.0.0
Ghostscript>=0.7

docling>=2.26.0 # IBM's Opensource
docling_core>=2.23.1
markitdown>=0.0.2 # Microsoft's Opensource
llama-cloud-services>=0.1.14 #llama-parse related 

# Computer Vision
opencv-python>=4.11.0.86

# LLM related Libraries

openai>=1.66.3
anthropic>=0.49.0

google-cloud-storage>=2.17.0
google-cloud-vision>=3.7.2
google-genai>=1.5.0
mistralai>=1.5.1

# Huggingface library



# Vector Store and Embeddings


# AWS Libraries
boto3>=1.37.14
amazon-textract-caller>=0.2.0

# Utilities
nest-asyncio>=1.6.0
python-dotenv>=1.0.1
pillow>=11.1.0 
requests>=2.32.3
torch>=2.6.0
torchvision>=0.21.0
docling

# Testing
pytest
pytest-asyncio
